@{
    Layout = null;
    var rules = (List<string>)Session["rules"];
    /*if(Session["rule"]!=null)
    {
        var string = Session["rule"].ToString;
        rules.Add(
            new Tuple<string>(Session["rule"].ToString)
            );
    }*/

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @foreach(var rule in rules)
    {
        <li>@rule</li>
    }
    <form method="post">
        <input name="rules" type="text" />
        <input type="submit" value="enter" />
    </form>
</body>
</html>
